- @page_title = t('shoppe.product_category.product_categories')

= content_for :header do
  %p.buttons=link_to t('shoppe.product_category.new_category'), :new_product_category, :class => 'button green'
  %h2.products= t('shoppe.product_category.product_categories')

%ol.sortable_tree{ data: { max_levels: 5, rebuild_url: rebuild_product_categories_url }}
  = sortable_tree @product_categories