- @page_title = t('shoppe.users.users')

= content_for :header do
  %p.buttons= link_to t('shoppe.users.new_user'), :new_user, :class => 'button green'
  %h2.users= t('shoppe.users.users')

= render 'grid'